@model WhatColor.ViewModels.GrantPermissionsViewModel

@{ 
    ViewData["Title"] = "Grant Permission";
}

<form asp-action="GrantPermissions" asp-method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <select asp-for="UserID" asp-items="Model.Users"></select>
    </div>
    <div class="form-group">
        <select asp-for="RoleID" asp-items="Model.Roles"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
</form>
