@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        On WhatColor you can paste an image (or image url)
        and will receive the average color of that image along with extra information.
    </p>
</div>