@model WhatColor.ViewModels.WhatColorViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        On WhatColor you can't paste an image (or image url)
        and won't receive the average color of that image along with extra information.
    </p>
    <form asp-controller="Color" asp-action="Search" method="get">
        <div class="form-actions no-color">
            Search color:
            <input asp-for="ColorSearch" />
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
        <div>
            <a asp-controller="Color" asp-action="Color">Bekijk de volledige lijst</a>
        </div>
    </form>
</div>